.root {
    background-color: rgb(var(--venia-text-hint));
    border: 1px solid rgb(var(--venia-text-hint));
    border-radius: 50%;
    height: 1rem;
    transition: background-color .2s linear .1s, border-color .2s linear .1s;
    width: 1rem;
}

.active {
    background-color: rgb(var(--venia-text));
    border-color: rgb(var(--venia-text));
}

@media (min-width: 1024px) {
    .root {
        border: 0;
        border-radius: 0;
        height: auto;
        transition: box-shadow .2s linear .1s;
        width: auto;
    }
    .active {
        box-shadow: 0 0 0 4px rgb(var(--venia-grey));
    }
}

.image {
    display: none;
}

@media (min-width: 1024px) {
    .image {
        background-color: rgb(var(--venia-grey));
        border-radius: 2px;
        box-shadow: 0 0 0 1px white;
        display: block;
        height: auto;
        width: 100%;
    }
}
